:root {
    --color-1: #0081a7;
    --color-2: #7f5af0;
    --color-3: #fdfcdc;
    --color-4: #fed9b7;
    --color-5: #f07167;

    --color-1b: #16161a;
    --color-2b: #94d2bd;
    --color-3b: #e9c46a;
    --color-4b: #f4a261;
    --color-5b: #e76f51;

    --light-text: #fffffe;
    --dark-text: #264653;
    --paragraph: #dfdfdf;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1b);
    margin: 0;
    padding: 0;

}

.container {

    width: 100%;
}

.cards {
    margin-top: 50px;
    margin-inline: auto;
    width: 580px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-2);
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 230px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: arial;
    transition: 0.3s;
}

.card .title {
    color: var(--light-text);
    font-weight: 600;
    font-size: 20px;
}

.card .description {
    color: var(--paragraph);
    font-weight: 300;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}